[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"

[packages]
werkzeug = "*"
maya = "*"
boto3 = "*"
dynamodb-json = "*"
bloop = "*"
click = "*"
requests = "*"
python-jose = "*"
six = "*"

[requires]
python_version = "3.6"
